body{
    font-family: 'Alegreya Sans', sans-serif!important;
}

.contenido p{
	font-size: 22px;
}

.contenido li{
	font-size: 22px;
}

a{
	color:#666;
}

a:hover{
	color:#444;
}

.navbar-brand > img{
	width:50px;
	display: inline-block;
}

.navbar{
	min-height: 60px;
}

.navbar-default{
	background: #fff;
	margin-bottom: 0;
}

.navbar-nav > li > a{
	padding-bottom: 23px;
}

body{
	background-color: #fff;
}

h3{
	font-weight: 800;
}

.carousel-caption{
	top:20px;
	right: 60%;
	left: 0%;
	background: rgba(255,255,255,0.7);
	height: 150px;
	color:#000;
	text-shadow: none;
	text-align: left;
	padding: 20px;
}

.carousel-caption h3{
	font-size: 32px;
}

.contenido{
	margin-top: 50px;
	margin-bottom: 50px;
}

.contacto input{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}

.contacto textarea{
	display: block;
	width: 100%;
	padding: 5px;
	height: 150px;
	margin-bottom: 10px;
}

.contacto .btn{
	width: initial;
}

.btn-primary{
	background-color: #999!important;
	border: none;
}

.btn-primary{
	background-color: #000!important;
}

.cien{
	width:100%;
	margin-bottom: 50px;
}

.carousel-inner{
	height: 80vh;
}

@media (max-width: 852px) {
  .carousel-inner {
    height: auto;
  }
}

@media (max-width: 852px) {
  .carousel-caption {
    width: 100%;
  }
}

.footer{
	padding: 20px 0;
	background-color:#EFEFEF;
}

.footer ul{
	list-style: none;
	padding-left: 0;
}

.footer a > li{
	color:#888;
}

.footer a > li:hover{
	color:#444;
	text-decoration: none!important;
}